* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: url('../img/fundo.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Adicionando o efeito de transparência e blur */
.container {
    background: rgba(255, 255, 255, 0.2); /* Fundo branco com transparência */
    backdrop-filter: blur(10px); /* Efeito de desfoque */
    -webkit-backdrop-filter: blur(10px); /* Compatibilidade com navegadores baseados em WebKit */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    color: #fff; /* Textos brancos para contraste */
}

h1, h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    color: #f0f0f0; /* Alterar a cor do texto para combinar com o fundo transparente */
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

button:hover {
    background-color: #0056b3;
}

#toggle-button {
    background-color: #6c757d;
}

#toggle-button:hover {
    background-color: #5a6268;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    input {
        font-size: 14px;
    }

    button {
        font-size: 14px;
    }
}
